<div class='flex-box'>
	<div class='floating-container'>
		<h1>{{product.name}}</h1>
			<span>Ingredients: <span ng-repeat='ingredient in product.ingredients'><a ng-href='/ingredients/{{ingredient.name}}'>{{ingredient.name}}</a>, </span></span>
			<p>{{product.info}}</p>
			${{product.price}}
			<br>
			{{product.size}} ML
			<br>
			<form novalidate name='addForm'>
				<input type='number' 
				ng-model='addAmount'
				ng-minlength='1'
				ng-maxlength='99'
				ng-require='true'></input>
				<button ng-click='addToCart()'>Add to Cart</button>
				<br>
				<span ng-show='message'>{{message}}</span>
			</form>
	</div>
</div>